@using ShopTobaccoWebApp.WebUI.Models
@using ShopTobaccoWebApp.WebUI.HtmlHelpers
@model ProductsListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var product in Model.Products)
{
    @Html.Partial("ProductSummary", product)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>